@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import-normalize;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Theme1 */
    --main-bg: hsl(222, 26%, 31%);
    --main-text-color: var(--text-color-white);
    --keypad_bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --screen-text-color: var(--text-color-white);
    --keys-gray-bg: hsl(30, 25%, 89%);
    --keys-gray-text-color: var(--text-color);
    --keys-gray-hover: hsl(0, 0%, 100%);
    --keys-gray-shadow: hsl(28, 16%, 65%) 0 4px;
    --keys-blue-bg: hsl(225, 21%, 49%);
    --keys-blue-text-color: var(--text-color-white);
    --keys-blue-hover: hsl(225, 54%, 76%);
    --keys-blue-shadow: hsl(224, 28%, 35%) 0 4px;
    --keys-red-bg: hsl(6, 63%, 50%);
    --keys-red-text-color: var(--text-color-white);
    --keys-red-hover: hsl(6, 93%, 67%);
    --keys-red-shadow: hsl(6, 70%, 34%) 0 4px;
    --text-color: hsl(221, 14%, 31%);
    --text-color-white: hsl(0, 0%, 100%);

    /* Dimensions */
    --app-width: 540px;

    /* Animation */
    --theme-button-slide-x: 0;
    --theme-button-slide-time: 0.5s;
}


body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    background-color: var(--main-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body[data-theme='theme2'] {
    --main-bg: hsl(0, 0%, 90%);
    --main-text-color: var(--text-color);
    --keypad_bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --screen-text-color: var(--text-color);
    --keys-gray-bg: hsl(45, 7%, 89%);
    --keys-gray-text-color: var(--text-color);
    --keys-gray-hover: hsl(0, 0%, 100%);
    --keys-gray-shadow: hsl(35, 11%, 61%) 0 4px;
    --keys-blue-bg: hsl(185, 42%, 37%);
    --keys-blue-text-color: var(--text-color-white);
    --keys-blue-hover: hsl(185, 41%, 56%);
    --keys-blue-shadow: hsl(185, 58%, 25%) 0 4px;
    --keys-red-bg: hsl(25, 98%, 40%);
    --keys-red-text-color: var(--text-color-white);
    --keys-red-hover: hsl(25, 100%, 61%);
    --keys-red-shadow: hsl(25, 99%, 27%) 0 4px;
    --text-color: hsl(60, 10%, 19%);
    --text-color-white: hsl(0, 0%, 100%);
}

body[data-theme='theme3'] {
    --main-bg: hsl(268, 75%, 9%);
    --main-text-color: var(--text-color);
    --keypad_bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --screen-text-color: var(--text-color);
    --keys-gray-bg: hsl(268, 47%, 21%);
    --keys-gray-text-color:  var(--text-color);
    --keys-gray-hover: hsl(268, 54%, 44%);
    --keys-gray-shadow: hsl(290, 70%, 36%) 0 4px;
    --keys-blue-bg: hsl(281, 89%, 26%);
    --keys-blue-text-color: var(--text-color-white);
    --keys-blue-hover: hsl(280, 56%, 44%);
    --keys-blue-shadow: hsl(285, 91%, 52%) 0 4px;
    --keys-red-bg: hsl(176, 100%, 44%);
    --keys-red-text-color: hsl(198, 20%, 13%);
    --keys-red-hover: hsl(177, 100%, 79%);
    --keys-red-shadow: hsl(177, 92%, 70%) 0 4px;
    --text-color: hsl(52, 100%, 62%);
    --text-color-white: hsl(0, 0%, 100%);
}


.attribution {
    margin-top: auto;
    color: var(--main-text-color);
    font-size: 12px;
}

.attribution a {
    color: var(--keys-blue-hover);
}
